@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  background: #000;
}
@media (max-width: 1200px) {
  body {
    font-size: calc(10px + 2 * ((100vw - 320px) / 880));
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #FFFFFF;
}

.wrapper__project {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__link_contacts {
  border-bottom: 1px solid #fff;
}

.header__logo {
  display: block;
}

.header__link_index {
  border-bottom: none;
}

.contacts__item {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .contacts__item {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 880));
  }
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__title {
  font-size: 24px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .contacts__title {
    font-size: calc(18px + 6 * ((100vw - 320px) / 880));
  }
}

.contacts__colon {
  margin-right: 30px;
}

.contacts__value {
  font-weight: 500;
  font-size: 24px;
}
@media (max-width: 1200px) {
  .contacts__value {
    font-size: calc(18px + 6 * ((100vw - 320px) / 880));
  }
}